In [ ]:
運用索引找出需要資料
合併資料的分法應用
作業重點:

分辨索引loc、iloc差別
分辨合併資料方法的不同，因應不同情況使用Merge, join, concatenate
題目:
讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [1]:
import pandas as pd

In [ ]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv

In [18]:
STOCK_DAY_0050_202009_data = pd.read_csv('C:\\Users\\Yuan\\Desktop\\STOCK_DAY_0050_202009.csv',usecols=['date','open','close'])
STOCK_DAY_0050_202010_data = pd.read_csv('C:\\Users\\Yuan\\Desktop\\STOCK_DAY_0050_202010.csv',usecols=['date','open','close'])

In [ ]:
#串聯

In [21]:
STOCK_DAY=pd.concat([STOCK_DAY_0050_202009_data,STOCK_DAY_0050_202010_data])
STOCK_DAY

         date    open   close
0   109/09/01  102.45  103.35
1   109/09/02  103.65  103.00
2   109/09/03  103.70  103.30
3   109/09/04  102.00  102.55
4   109/09/07  102.55  102.40
5   109/09/08  102.75  103.00
6   109/09/09  101.75  102.30
7   109/09/10  102.80  103.20
8   109/09/11  103.20  103.25
9   109/09/14  103.50  104.55
10  109/09/15  104.45  104.95
11  109/09/16  106.55  106.55
12  109/09/17  106.05  105.40
13  109/09/18  105.40  105.30
14  109/09/21  105.20  104.45
15  109/09/22  104.30  103.10
16  109/09/23  103.50  102.95
17  109/09/24  101.55  100.45
18  109/09/25  100.75  100.65
19  109/09/28  101.35  102.30
20  109/09/29  102.75  102.55
21  109/09/30  102.75  103.00
0   109/10/05  103.45  103.05
1   109/10/06  104.00  104.25
2   109/10/07  104.00  104.80
3   109/10/08  105.45  106.20
4   109/10/12  106.70  107.05
5   109/10/13  107.35  107.10
6   109/10/14  107.05  106.70
7   109/10/15  106.50  105.70
8   109/10/16  105.70  105.25
9   109/10/19  105.65  106.60
10  109/10/20  106.40  106.00
11  109/10/21  106.00  105.95
12  109/10/22  105.70  106.10
13  109/10/23  106.50  106.10
14  109/10/26  106.10  106.10
15  109/10/27  105.75  105.50
16  109/10/28  105.50  105.00
17  109/10/29  104.00  103.85
18  109/10/30  103.55  103.00

In [ ]:
#找出open小於close的資料

In [27]:
STOCK_DAY.loc[STOCK_DAY.open<STOCK_DAY.close]

         date    open   close
0   109/09/01  102.45  103.35
3   109/09/04  102.00  102.55
5   109/09/08  102.75  103.00
6   109/09/09  101.75  102.30
7   109/09/10  102.80  103.20
8   109/09/11  103.20  103.25
9   109/09/14  103.50  104.55
10  109/09/15  104.45  104.95
19  109/09/28  101.35  102.30
21  109/09/30  102.75  103.00
1   109/10/06  104.00  104.25
2   109/10/07  104.00  104.80
3   109/10/08  105.45  106.20
4   109/10/12  106.70  107.05
9   109/10/19  105.65  106.60
12  109/10/22  105.70  106.10